.grid_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #fff;
}
.container-title{
    margin-bottom: 2rem;
}
.container-title .title{
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
.card{
    padding: 5px;
    margin: 10px;
    position: relative;
    background-color: black;
    border-radius: 15px;
}
.card:hover{
    transform: translateY(-10px);
}
.image_container{
    width: 50%;
    justify-content: center;
    align-items: center;
     margin-left: 25%;
}
.img{
   border-radius: 15px;
   
}
.title_container{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: #fff;
}
.shadow-pink-500{
    box-shadow: 3px 3px 5px #ec4899,
    -3px 3px 5px #ec4899;
}
.shadow-yellow-500{
    box-shadow: 3px 3px 5px #eab308,
    -3px 3px 5px #eab308;
}
.shadow-orange-500{
    box-shadow: 3px 3px 5px#f97316,
    -3px 3px 5px #f97316;
}
.shadow-blue-600{
    box-shadow: 3px 3px 5px #2563eb,
    -3px 3px 5px #2563eb;
}
.shadow-green-500{
    box-shadow: 3px 3px 5px #22c55e,
    -3px 3px 5px #22c55e;
}
@media(max-width:750px){
    .grid_container{
        grid-template-columns: repeat(2, 1fr);
    
    }
    .container-title .title{
        font-size: 25px;
    }
}
@media(max-width:500px){
    .grid_container{
        grid-template-columns: repeat(1, 1fr);
        margin-left: -50px;
    }
    .container-title .title{
        font-size: 20px;
    }
}